# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.room
old_system

# Node dependencies
node_modules
.pnpm-store

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
REQUERIMIENTO DE PLATAFOMA DE MATRICULAS.md
Flujo_manual.md
